/* EX1 */
.ex-1-square{
  transition: all 1.5s;
}

.ex-1-square:hover{
  background-color: red;
}

/* EX2 */
.ex-2-square{
  transition: all 2s ease;
}
.ex-2-square:active{
  width: 100%;
}

/* EX3 */
.ex-3-square{
  transition: all .5s;
}

.ex-3-square:hover{
  border-radius: 50%;
}

/* EX4 */
.ex-4-square{
  transition: all .8s;
}

.ex-4-square:hover{
  background-color: transparent;
}